#planet-deploy.yml

name: planet-system

on:
  workflow_dispatch:
  
env:
  S3_BUCKET_NAME: wogus-planet-bucket
  PROJECT_NAME: Planet
  

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
          
      - name: Copy Secret
        env:
          PLANET_SECRET: ${{ secrets.PLANET_SECRET }}
          PLANET_SECRET_DIR: src/main/java/com/example/demo/config/secret
          PLANET_SECRET_TEST_DIR: src/test/java/com/example/demo/config/secret
          PLANET_SECRET_DIR_FILE_NAME: Secret.java
        run: echo $PLANET_SECRET | base64 --decode > $PLANET_SECRET_DIR/$PLANET_SECRET_DIR_FILE_NAME && 
                echo $PLANET_SECRET | base64 --decode > $PLANET_SECRET_TEST_DIR/$PLANET_SECRET_DIR_FILE_NAME      
      - name: Copy dev_yml
        env:
          DEV_APPLICATION_YML: ${{ secrets.DEV_APPLICATION_YML }}
          DEV_APPLICATION_YML_DIR: src/main/resources
        # PLANET_SECRET_TEST_DIR: src/test/java/com/example/demo/config/secret
          DEV_APPLICATION_YML_FILE_NAME: application.yml
        run: echo $PLANET_SECRET | base64 --decode > $DEV_APPLICATION_YML_DIR/$DEV_APPLICATION_YML_FILE_NAME #&& 
                #echo $PLANET_SECRET | base64 --decode > $PLANET_SECRET_TEST_DIR/$PLANET_SECRET_DIR_FILE_NAME    

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
        shell: bash

      - name: Build with Gradle
        run: ./gradlew build
        shell: bash
        
      - name: Make zip file
        run: zip -r ./$GITHUB_SHA.zip .
        shell: bash

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_GITHUB_ACTION_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_GITHUB_ACTION_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_GITHUB_ACTION_REGION }}

      - name: Upload to S3
        run: aws s3 cp --region ap-northeast-2 ./$GITHUB_SHA.zip s3://$S3_BUCKET_NAME/$PROJECT_NAME/$GITHUB_SHA.zip
        
      - name: Code Deploy
        run: aws deploy create-deployment --application-name planet --deployment-config-name CodeDeployDefault.AllAtOnce --deployment-group-name planet_code_deploy --s3-location bucket=$S3_BUCKET_NAME,bundleType=zip,key=$PROJECT_NAME/$GITHUB_SHA.zip
  
        
        

# 다음 단계에서 스크립트 추가 예정
