#planet-deploy.yml

name: planet-system

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Copy Secret
        env:
            PLANET_SECRET: ${{ secrets.PLANET_SECRET }}
            PLANET_SECRET_DIR: src/main/java/com/example/demo/config
            PLANET_SECRET_TEST_DIR: src/test/java/com/example/demo/config
            PLANET_SECRET_DIR_FILE_NAME: Secret.java
        run: echo $PLANET_SECRET | base64 --decode > $PLANET_SECRET_DIR/$PLANET_SECRET_DIR_FILE_NAME && 
                echo $PLANET_SECRET | base64 --decode > $PLANET_SECRET_TEST_DIR/$PLANET_SECRET_DIR_FILE_NAME
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
        shell: bash

      - name: Build with Gradle
        run: ./gradlew build
        shell: bash

# 다음 단계에서 스크립트 추가 예정
